.error{
    color:red;
}


.m-t-10{
    margin-top: 10px;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}

.main{
    margin-left: 170px;
    /* overflow-y: auto; */
    /* overflow-x: auto; */
}

.auth-box{
    width: 400px;
    margin-right: 170px;
}
