.navBar{
    height: 45px;
    background-color: brown;
    margin-left: 10px;
    margin-right: 10px;
    position: sticky;
    top:15px;
    left:5px;
}

.navList{
    list-style-type: none;
}

.navItem a{
    float: left;
    padding: 10px;
    color:white;
}
.navItem a:hover{
    color:blue;
    text-decoration: none;
}
.navItem a:active{
    font-weight: bold;
}

.selected{
    background-color: darkcyan;
}

.logout{
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}
.user-info{
    float:right;
    color: white;
    margin-top: 8px;
    margin-right: 5px;
}


