.sidebar {
    width: 150px;
    background-color: brown;
    position: fixed;
    left: 10px;
    top:60px;
    height: 100%;
}

.sidebar a {
    padding: 10px;
    display: block;
    color: white;
    cursor: pointer;
    z-index: 1
}

.sidebar a:hover{
    color:blue;
    text-decoration: none;
}
.sidebar a:active{
    font-weight: bold;
}
